<nav class="navbar">
  <div class="navbar-container">

    <!-- Left: Website Name (clickable) -->
    <a href="/" class="navbar-brand">URL Shorten</a>

    <!-- Right: Navigation Links -->
    <div class="navbar-links">
      <% if (user) { %>
        <a href="/profile" class="nav-link">Profile</a>
        <a href="/logout" class="nav-link logout-icon" title="Logout">
          &#x21AA;
        </a>
      <% } else { %>
        <a href="/register" class="nav-link">Register</a>
        <a href="/login" class="nav-link">Login</a>
      <% } %>
    </div>
  </div>
</nav>
